<div class="container">
    <div class="card text-center">
      <div class="card-header">
        <b> Registro</b>
      </div>
      <div class="card-body p-4">
        <label style="float: left;">Nombre</label>
        <input class="form-control m-2" type="email" placeholder="Ingrese su Nombre" [(ngModel)]="usuario.name">
  
        <label style="float: left;">Email</label>
        <input class="form-control m-2" type="email" placeholder="Ingrese su Correo" [(ngModel)]="usuario.email">
  
        <label style="float: left;">Password</label>
        <input class="form-control m-2" type="password" placeholder="Ingrese su Contraseña" [(ngModel)]="usuario.password">
  
        <button class="btn btn-primary btn-block m-2" (click)="registrarse()">Registrar</button>
        <label>¿Ya estas registrado? <a routerLink="/login">Ingresar</a></label>
      </div>
  
  
    </div>
  </div>
